.form {
  padding: 10px 0;
  justify-content: space-between;
  display: flex;
}

.form__button {
  background-color: #027381;
  color: #fff;
  padding: 10px;
  border: none;
  width: 150px;
  cursor: pointer;
}

.form__field {
  padding: 8px;
  width: 500px;
  display: flex;
  align-self: center;
  border: 2px solid #e2e2e2;
  color: #e2e2e2;
}
