.form {
  padding: 10px 0;
  justify-content: space-between;
  display: flex;
}

.form__button {
  background-color: #027381;
  color: #fff;
  padding: 10px;
  margin-left: 20px;
  border: none;
  width: 150px;
  cursor: pointer;
}

.form__field {
  padding: 8px;
  width: 100%;
  display: flex;
  align-self: center;
  border: 2px solid #e2e2e2;
}

@media (max-width: 767px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
  }
}
