.section__header {
  background-color: white;
  box-shadow: 0 2px #eee;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 10px 0;
  border: 1px solid #e2e2e2;
  padding: 5px 20px;
}

.section__heading {
  font-weight: 900;
}

.section__container--toggleButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lists__button {
  border: none;
  background-color: transparent;
}

@media (max-width: 767px) {
  .section__container--toggleButtons {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .lists__button {
    padding: 10px;
  }
}
