html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.body {
  background-color: #eeeeee;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  padding: 50px;
  max-width: 900px;
}
