html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.body {
  background-color: #eeeeee;
  font-family: "Lato", sans-serif;
}

.section {
  border: 1px solid #e2e2e2;
  background-color: white;
  box-shadow: 0 2px #eee;
  padding: 10px;
  margin: 10px 0;
}

.form__button {
  background-color: #027381;
  color: #b4e2eb;
  padding: 8px;
  border: none;
}

.form__field {
  width: 500px;
  padding: 5px;
}
